# Python bytecode
*.pyc
*.pyo
__pycache__

# setuptools-generated
*.egg-info/
.eggs/
build/
dist/

# Testing tools
.hypothesis/
.mypy_cache/
.pytest_cache/
.tox

# Coverage reports
.coverage
htmlcov/

# Test database
payfast_tests/db.sqlite

